<h2>Demo of XrmContextService</h2>

<div *ngIf="account != null">
  Name: {{ account.name }}<br />
  Last on hold: {{ account.lastonholdtime  }}<br />
  <input type="text" [(ngModel)]="newDate" placeholder="yyyy-mm-ddThh:mm:ssZ" /><button (click)="updateDate()">Update date</button><br /><br />
  Do not email: {{ account.donotemail }}
  <input type="checkbox" [(ngModel)]="account.donotemail" (ngModelChange)="updateAccount()" />
  <br /><br />
  Industry: {{ account.industrycode.name }}
  <br />
  <ul>
    <li *ngFor="let id of industries" style="cursor: pointer" (click)="setIndustry(id)">
      <span *ngIf="id.value == account.industrycode.value" style="font-weight: bold; color: green">{{ id.name }}</span>
      <span *ngIf="id.value != account.industrycode.value">{{ id.name }}</span>
    </li>
  </ul>

  <br /><br />
  Ignore me virtual property: {{ account.ignoreMe }}<br /><br />

  <div *ngIf="contactResult != null">
    <br />
    <br />
    Contacts: {{ contactResult.count }}<br />
    <ul>
      <li *ngFor="let con of contacts" (click)="click(con)">
        <input type="checkbox" [(ngModel)]="con.checked" />
        {{ con.server_fullname }} : {{ con.views }}&nbsp;<button (click)="delete(con)">Delete</button>
      </li>
    </ul>
    <br />
    <button (click)="prev()" [disabled]="contactResult.prev == null">Prev</button>
    {{ contactResult.pageIndex + 1 }}
    <button (click)="next()" [disabled]="contactResult.next == null">Next</button>
    <button (click)="deleteSelected()" [disabled]="checked() == 0">Delete Selected ( {{checked() }} )</button>

    <div *ngIf="currentContact != null">
      <br /><br />
      Edit current contact<br />
      {{ currentContact.fullname }}<br />
      <input [(ngModel)]="editCurrentName"/><button (click)="update()">Update</button>

    </div>
  </div>

  <div>
    <br /><br />
    Create new contact<br />
    <input [(ngModel)]="newContact" />&nbsp;<button (click)="create()">Create</button>&nbsp;<button (click)="createTwo()">Create TWO!</button>
  </div>

</div>
