<ko-main *ngIf="entities != null">
  <ko-horizontal-split height="44px">
    <ko-vertical-split width="300px" top>
      <ko-view left>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for entity" [(ngModel)]="entitySearch" (ngModelChange)="searchEntity($event)"/>
          <span class="input-group-addon"><span class="fa fa-search"></span></span>
        </div>
      </ko-view>
      <ko-vertical-split width="300px" right>
        <ko-view left>
          <div class="input-group" *ngIf="current != null">
            <input type="text" class="form-control" [(ngModel)]="attrSearch" placeholder="Search for attribute" (ngModelChange)="searchAttr($event)" />
            <span class="input-group-addon"><span class="fa fa-search"></span></span>
          </div>
        </ko-view>
        <ko-view right *ngIf="current != null">
          <div class="btn-group">
            <button class="btn" [ngClass]="{'btn-success' : support.get, 'btn-default' : !support.get }" (click)="toggleSupport('get')">Get</button>
            <button class="btn" [ngClass]="{'btn-success' : support.query, 'btn-default' : !support.query }" (click)="toggleSupport('query')">Query</button>
            <button class="btn" [ngClass]="{'btn-success' : support.create, 'btn-default' : !support.create }" (click)="toggleSupport('create')">Create</button>
            <button class="btn" [ngClass]="{'btn-success' : support.update, 'btn-default' : !support.update }" (click)="toggleSupport('update')">Update</button>
            <button class="btn" [ngClass]="{'btn-success' : support.delete, 'btn-default' : !support.delete }" (click)="toggleSupport('delete')">Delete</button>
            <button class="btn" [ngClass]="{'btn-success' : support.access, 'btn-default' : !support.access }" (click)="toggleSupport('access')">Access</button>
          </div>
        </ko-view>
      </ko-vertical-split>
    </ko-vertical-split>
    <ko-vertical-split width="300px" bottom>
      <ko-view left>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link" *ngFor="let ent of entities" (click)="selectEntity(ent)" href="javascript:void(0)" [ngClass]="{ active: ent == current }">
            {{ ent.LogicalName }}
          </a>
        </nav>
      </ko-view>
      <ko-vertical-split width="300px" right>
        <ko-view left>
          <div class="alert alert-warning" *ngIf="current == null">
            <span class="fa fa fa-hand-o-left"></span>
            &nbsp;Please select an entity from the list
          </div>
          <nav class="nav nav-pills flex-column" *ngIf="current != null && attributes != null">
            <a class="nav-link" *ngFor="let att of attributes" (click)="selectAttribute(att)" href="javascript:void(0)" [ngClass]="{ active: att.selected == true }">
              {{ att.LogicalName }}
            </a>
          </nav>
        </ko-view>
        <ko-view right>
          <textarea [(ngModel)]="code" *ngIf="current != null" style="width: 99%; height: 99%"></textarea>
        </ko-view>
      </ko-vertical-split>
    </ko-vertical-split>
  </ko-horizontal-split>
</ko-main>
