<h2>Demo of XrmContextService</h2>

<div>
  Function test:
  <button (click)="testWhoAmI()">Parameter less function</button>
  <br />
  <br />
  <button (click)="testRetrieveTeamPrivileges()">Bound function without parameters</button>

  <br />
  <br />
  <div>
    Calendar test <button (click)="testCalendarExpand()">Bound entity test with parameters</button>
  </div>
</div>

<h4>Statistic from xrmState</h4>
<div>
  <span *ngIf="xrmState.running">TALKING&nbsp;</span>
  <span *ngIf="!xrmState.running">QUIET&nbsp;</span>
  <span>Success {{ xrmState.success }}&nbsp;</span>
  <span>Errors {{ xrmState.error }}</span>
</div>

<div>
  Currentuserid is: {{ currentuserid }}
</div>

<h4>Account and contact maintanance</h4>
<div *ngIf="account != null">
  <h4>User access</h4>
  <access-view [entity]="account"></access-view>

  <br />
  <h4>Account info</h4>
  Name: {{ account.name }}<br />
  Last on hold: {{ account.lastonholdtime  }}<br />
  <input type="text" [(ngModel)]="newDate" placeholder="yyyy-mm-ddThh:mm:ssZ" /><button (click)="updateDate()">Update date</button><br /><br />
  Do not email: {{ account.donotemail }}
  <input type="checkbox" [(ngModel)]="account.donotemail" (ngModelChange)="updateAccount()" />
  <br /><br />
  Industry: {{ account.industrycode.name }}
  <br />
  <ul>
    <li *ngFor="let id of industries" style="cursor: pointer" (click)="setIndustry(id)">
      <span *ngIf="id.value == account.industrycode.value" style="font-weight: bold; color: green">{{ id.name }}</span>
      <span *ngIf="id.value != account.industrycode.value">{{ id.name }}</span>
    </li>
  </ul>

  <br /><br />
  Ignore me virtual property: {{ account.ignoreMe }}<br /><br />

  <div *ngIf="contactResult != null">
    <br />
    <br />
    Contacts: {{ contactResult.count }}<br />
    <ul>
      <li *ngFor="let con of contacts" (click)="click(con)">
        <input type="checkbox" [(ngModel)]="con.checked" />&nbsp;
        <input type="text" [(ngModel)]="con.nextname" placeholder="Change name to" (ngModelChange)="nextNameChanged()"/>&nbsp;
        {{ con.server_fullname }} : {{ con.views }}&nbsp;{{ con.createdon | date:'yyyy-MM-dd' }}&nbsp;<button (click)="delete(con)">Delete</button>
        &nbsp;<button (click)="resolveAccess(con)" *ngIf="con.access == null">Resolve access</button>
        <access-view [entity]="con" *ngIf="con.access != null"></access-view>
        &nbsp;<button (click)="resolveList(con)" *ngIf="con.listcontact_association == null">Get lists</button>
        <ng-container *ngIf="con.listcontact_association != null && con.listcontact_association.length > 0">
          <span *ngFor="let list of con.listcontact_association">
            {{ list.listname }}
            |
          </span>
        </ng-container>
        &nbsp;<button (click)="resolveOpportunities(con)" *ngIf="con.opportunities == null">Get Opportunities</button>
        <ng-container *ngIf="con.opportunities != null && con.opportunities.length > 0">
          <span *ngFor="let opp of con.opportunities">
            {{ opp.name }}
            <span style="cursor: pointer" *ngIf="opp.opportunitycompetitors_association == null" (click)="resolveCompetitors(opp)">Resolve competitors</span>
            <ng-container *ngIf="opp.opportunitycompetitors_association != null && opp.opportunitycompetitors_association.length > 0">
              ::
              <span *ngFor="let cop of opp.opportunitycompetitors_association">{{ cop.name }} <span style="cursor: pointer" (click)="disassociate(opp, cop)">[DEL]</span></span>
            </ng-container>
            <ng-container *ngIf="opp.opportunitycompetitors_association != null">
              |
              <ng-container *ngFor="let cp of competitors">
                  <span *ngIf="!opp.hasCompetitor(cp)">{{ cp.name }} <span style="cursor: pointer" (click)="associate(opp, cp)">[ADD]</span></span>
              </ng-container>
            </ng-container>
              ||
          </span>
        </ng-container>
      </li>
    </ul>
    <br />
    <button (click)="prev()" [disabled]="contactResult.prev == null">Prev</button>
    {{ contactResult.pageIndex + 1 }}
    <button (click)="next()" [disabled]="contactResult.next == null">Next</button>
    <button (click)="saveNextName()" [disabled]="!hasNextName">Save next names</button>
    <button (click)="deleteSelected()" [disabled]="checked() == 0">Delete Selected ( {{checked() }} )</button>

    <div *ngIf="currentContact != null">
      <br /><br />
      Edit current contact<br />
      {{ currentContact.fullname }}<br />
      <input [(ngModel)]="editCurrentName"/><button (click)="update()">Update</button>
    </div>

    <div *ngIf="currentContact != null">
      <br />
      <input type="text" [(ngModel)]="nextnote" /><button (click)="addNote()">Create note</button>
    </div>

    <div *ngIf="notes != null">
      <div>Notes:</div>
      <div *ngFor="let note of notes">
        <input type="text" [(ngModel)]="note.subject" />
        <button (click)="updateNote(note)">Update</button>
        <button (click)="deleteNote(note)">Delete</button>
      </div>
    </div>
  </div>



  <div>
    <br /><br />
    Create new contact<br />
    <input [(ngModel)]="newContact" />&nbsp;<button (click)="create()">Create</button>&nbsp;<button (click)="createTwo()">Create TWO!</button>
  </div>


  <div>
    <h2>Simple parameters test</h2>

    <input [(ngModel)]="address.Line1" /><br />
    <input [(ngModel)]="address.PostalCode" /> <input [(ngModel)]="address.City" /><br />
    <input [(ngModel)]="address.StateOrProvince" /><br />
    <input [(ngModel)]="address.Country"/><br />
    <br />
    <button (click)="testFormatAddress()">Format address</button>

  </div>

</div>
