@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Example</title>
</head>
<body>
    here we have the example page
</body>
</html>
